{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} | EclipseOJ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'homepage' %}">Eclipse OJ</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li {% block contestactive %}{%endblock%}><a href="{% url 'contests_index' %}">Contests</a></li>
    <li {% block problemsactive %}{%endblock%}><a href="{% url 'problems_index' %}">Problems</a></li>
    <li {% block judgeactive %}{%endblock%}><a href="{% url 'judge_main' %}">Submissions</a></li>
    <li {% block leaderboardactive %}{%endblock%}><a href="#">Leaderboard</a></li>
    <li ><a href="{% url 'discuss_index' %}">Discuss</a></li>
    {% if request.user.is_authenticated %}
    <li {% block profileactive %}{%endblock%}><a href="{% url 'detail' request.user.username %}">Profile</a></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
    <li {% block loginactive %}{%endblock%}><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
  </ul>
  </div>
  </nav>
  {% bootstrap_messages %}
  <div class="container-fluid" style="margin-left:70px; margin-right:70px;">
    <div class="row heading">
      <h1 class="text-center">{% block heading %}{% endblock %}</h1>
    </div>
    <div class="row">
      <div class="col-sm-9">
          {% block content %}
          {% endblock %}
      </div>
      <div class="col-sm-3 box">
        <h1>HI.. LEADERVOARD</h1>
      </div>
    </div>
  </div>
</body>
</html>
