{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" href="{{ STATIC_URL }}problem.css" />
{% block title %}Problem {{ problem.problem_ID }}{% endblock %}
{% block problemsactive %}class="active"{% endblock %}
{% block content %}

{% if submit_form.errors %}
    {% for field in submit_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in submit_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<h1 class="text-center">{{ problem.name }}</h1>
<div class="row box">
  <div class="col-md-1"></div>
  <div class="col-md-10">
{{ problem.body | safe}}
{% bootstrap_messages %}
  </div>
</div>
  <div class="row box">
  <div class="col-md-12">
    {% if request.user.is_authenticated %}

    <div id="acesuper">
      <div class="container-fluid">
      You can code here!!
      <select id="ace_lang" class="selectpicker" data-style="btn-primary" onchange="test_lang(this);">
          <option value="cpp">C++</option>
          <option value="c">C</option>
          <option value="py">Python2</option>
          <option value="py3">Python3</option>
          <option value="java">Java</option>
      </select>
      <select class="selectpicker" data-style="btn-primary" onchange="test_theme(this);" style="width=20px">
          <option value="monokai">Dark1</option>
          <option value="cobalt">Dark2</option>
          <option value="dracula">Dark3</option>
          <option value="eclipse">Light1</option>
          <option value="chrome">Light2</option>
          <option value="github">Light3</option>
      </select>
    </div>
		<pre id="editor">{{ text_on_ace }}</pre>
	</div>

  <div class="form-group">
        <label for="Input">Input: (only 800 characters!)</label>
        <textarea class="form-control" maxlength="50" rows="5" id="input"></textarea>
      </div>
<div class="well well-lg" style="visibility:{{ hide_or_not }}">{{ output }}</div>
      <form method="post" action="{% url 'problem' problem.problem_ID %}">
        {% csrf_token %}
        {% bootstrap_form code_form %}
        {% buttons %}
          <button onclick="save_code()" type="submit" class="btn btn-success center-block">Submit Code on ace</button></td></tr>
        {% endbuttons %}
      </form>

      <form method="post" action="{% url 'problem' problem.problem_ID %}">
        {% csrf_token %}
        {% bootstrap_form test_form %}
        {% buttons %}
          <button onclick="test_thecode()" type="submit" class="btn btn-success center-block">Run against custom input</button></td></tr>
        {% endbuttons %}
      </form>

	<!-- load ace -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>

  <script>
	    // trigger extension
	    ace.require("ace/ext/language_tools");
	    var editor = ace.edit("editor");
      {% if lang_for_ace == "cpp" %}
        editor.session.setMode("ace/mode/c_cpp");
      {% else %}
        editor.session.setMode("ace/mode/{{ lang_for_ace }}");
      {% endif %}
	    editor.setTheme("ace/theme/monokai");
	    // enable autocompletion and snippets
	    editor.setOptions({
	        enableBasicAutocompletion: true,
	        enableSnippets: true,
	        enableLiveAutocompletion: false,
	        //fontFamily: "Consolas",-
  			highlightActiveLine: true,
  			highlightSelectedWord: true,
  			fontSize: "16pt",
  			cursorStyle: "slim",
  			vScrollBarAlwaysVisible : true,
	    });


	    window.test_lang = function(e) {
  if (e.value === 'cpp') {
    editor.session.setMode("ace/mode/c_cpp");
  }
  else if (e.value === 'c') {
    editor.session.setMode("ace/mode/c_cpp");
  }
  else if (e.value === 'py') {
	editor.session.setMode("ace/mode/python")  }
 else if (e.value === 'py3') {
    editor.session.setMode("ace/mode/python");
  }
  	else if (e.value === 'java') {
    editor.session.setMode("ace/mode/java");
  }

}

window.test_theme = function(e) {
  console.log("Pressed");
    if (e.value === 'monokai') {
      editor.setTheme("ace/theme/monokai");
    }
    else if (e.value === 'cobalt') {
      editor.setTheme("ace/theme/cobalt");
    }
    else if (e.value === 'dracula') {
      editor.setTheme("ace/theme/clouds_midnight");
    }
    else if (e.value === 'eclipse') {
      editor.setTheme("ace/theme/xcode");
    }
    else if (e.value === 'chrome') {
      editor.setTheme("ace/theme/solarized_light");
    }
    else if (e.value === 'github') {
      editor.setTheme("ace/theme/eclipse");
    }
  }
  function resizeAce() {
      var h = window.innerHeight;
      if (h > 360) {
          $('#editor').css('height', (h - 290).toString() + 'px');
      }
      //var w = window.innerWidth;
      //$('#editor').css('width', auto);

  };
  $(window).on('resize', function () {
      resizeAce();
  });
  resizeAce();


  function save_code(){
      console.log('Called');
      document.getElementById("id_lang").value = document.getElementById("ace_lang").options[document.getElementById("ace_lang").selectedIndex].value;
      var mytext = editor.getValue();
      document.getElementById("id_code").value = mytext;
      //mytext = mytext.replace(/(?:\r\n|\r|\n)/g, "~");
      //document.getElementById("id_code").value = mytext;
      //alert(editor.getValue());
      //alert(document.getElementById("id_code").value);
      //document.getElementById("input").value = editor.getValue();
      //alert("submitted");
  };
  function test_thecode(){
      //alert("Called!!!");
      console.log('Called');
      //alert(document.getElementById("id_test_lang").value);
      document.getElementById("id_test_lang").value = document.getElementById("ace_lang").options[document.getElementById("ace_lang").selectedIndex].value;
      //alert(document.getElementById("id_test_lang").value);
      var mytext = editor.getValue();
      document.getElementById("id_test_code").value = mytext;
      document.getElementById("id_test_input").value = document.getElementById("input").value;
      //mytext = mytext.replace(/(?:\r\n|\r|\n)/g, "~");
      //document.getElementById("id_code").value = mytext;
      //alert(editor.getValue());
      //alert(document.getElementById("id_code").value);
      //document.getElementById("input").value = editor.getValue();
      //alert("submitted");
  };
	</script>

    <h2 align="center">Or Direct file Submit</h2>
<form enctype="multipart/form-data" method="post" action="{% url 'problem' problem.problem_ID %}">
  {% csrf_token %}
  {% bootstrap_form submit_form %}
  {% buttons %}
    <button type="submit" class="btn btn-success center-block">Submit</button></td></tr>
  {% endbuttons %}
</form>
{% else %}
<div class="alert alert-info">
  <strong><a href="{% url 'login' %}?next={{ request.path }}">Login</a></strong> to submit and verify your solution!!
</div>
{% endif %}
</div>
</div>
{% endblock %}
