{% extends "base.html" %}
{% load bootstrap3 %}
{%block title %}Contests{% endblock %}
{% block contestactive %}class="active"{% endblock %}
{% block content %}
<h1 style="text-align:center">{{ contest.id }} {{contest.name}}</h1>
<button class="btn btn-info center-block"><a style="color:black;text-decoration:none" href="{% url 'contest_ranks' contest.id %}">Go To Contest Ranks</a></button></td></tr>
<ul>
{% for problem in problems %}
  <li>
    <a href="/problems/{{ problem.problem_ID }}">
      Problem {{ problem.name }}
    </a>
  </li>
{% endfor %}
</ul>
{% if registered %}
  <p> Your performance stuff would come here registered user :D </p>
  <p> To get a link to list of registered users <a href="{% url 'registered' contest.id %}">Click here</a> </p>
{% else %}
  <p>Go to hell you didnt participate in this contest</p>
  <p>I dont wanna show but <a href="{% url 'registered' contest.id %}">here's the link</a> to registered users!</p>
{% endif %}
{% endblock %}
