{% extends "base.html" %}
{% load bootstrap4 %}
{%block title %}Contest #{{ contest.id }}{% endblock %}
{% block title_color %}#6317aa{% endblock %}
{% block title_caption %}{{contest.name}}{% endblock %}

{% block rightcontent%}

{% if not contest.completed %}  <div class="clock" style="zoom: 0.5;-moz-transform: scale(0.5);"></div> {% endif %}
<div class="box">

<h2>About</h2>

<p class="lead">Contest Status: {% if contest.completed %}Completed{% else %} Ongoing {% endif %}</p>
<p class="lead">Registration Status: {% if registered %}Registered{% else %}Not Registered{% endif %}</p>
</div>
{% if topscores %}
<div class="box">
  <h2>Top Rated</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for score in topscores %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'other_profile' score.user.username %}">{{ score.user.username }}</a></td>
        <td>{{ score.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{%endblock%}
{% block content %}
<button class="btn btn-info center-block"><a style="color:black;text-decoration:none" href="{% url 'contest_ranks' contest.id %}">Go To Contest Ranks</a></button></td></tr>
<button class="btn btn-info center-block"><a style="color:black;text-decoration:none" href="{% url 'registered' contest.id %}">Registered Users</a></button></td></tr>
<div class="box">
  <h4 class="text-center" style="padding-bottom: 0.7em;">List of Problems</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>NAME</th>
      <th>POINTS</th>
      <th>SOLVED</th>
    </tr>
    {% for problem in problems %}
    <tr>
      <td><a href="{% url 'problem' problem.problem_ID %}">{{ problem.problem_ID }}</a></td>
      <td><a href="{% url 'problem' problem.problem_ID %}">{{ problem.name }}</a></td>
      <td>{{ problem.marks }}</td>
      <td>{{ problem.solved }}</td>
    </tr>
    {% endfor %}
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type="text/javascript">
var clock;

$(document).ready(function() {
      console.log("Hi There!!");
      var clock;
			clock = $('.clock').FlipClock({
		        clockFace: 'HourlyCounter',
		        autoStart: false,
		        countdown: true,
		        callbacks: {
		        	stop: function() {
		        		$('.clock').html("");
		        		setTimeout(function(){alert("The Contest is Over!!!");}, 500);
		        		setTimeout(function(){ location.reload(); }, 900);
		        	}
		        }
		    });

      var current = new Date();
 			var hours = current.getHours();
 			var min = current.getMinutes();
 			var sec = current.getSeconds();
 			var contest = new Date("{{ contest.end_time.isoformat }}");
 			hours = contest.getHours() - hours;
 			min = contest.getMinutes() - min;
 			sec = contest.getSeconds() - sec;
 			//console.log(time);	*/

 		  clock.setTime(hours*3600+min*60+sec);
 		  clock.start();
      myfunc();
		});

    function myfunc(){
      var clock_labels = document.getElementsByClassName("flip-clock-label");
      //alert(clock_labels.length);
      for (i = 0; i < clock_labels.length; i++) {
        console.log("Yo");
        clock_labels[i].innerHTML = "";
      }
    }
</script>
{% endblock %}
