{% extends "base.html" %}
{% load bootstrap4 %}
{%block title %}Contests{% endblock %}
{% block title_color %}#7d1dd6{% endblock %}
{% block title_caption %}Code | Compete | Excel{% endblock %}

{%block heading %}CONTESTS{% endblock %}
{% block contestactive %}class="active"{% endblock %}
{% block rightcontent %}
<div class="box">
  <h2>Top Rated</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for player in toprated %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'other_profile' player.user.username %}">{{ player.user.username }}</a></td>
        <td>{{ player.rating }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block content %}
    <div class="box">
      <h4 class="text-center" style="padding-bottom: 0.7em;">List of Contests</h4>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>STATUS</th>
          <th>NAME</th>
          <th>START</th>
          <th>END</th>
        </tr>
      </thead>
      <tbody>
      {% if current_contests.exists %}
          {% for contest in current_contests %}
          <tr>
            <td><a href="{% url 'contest' contest.id %}">{{ contest.id }}</a></td>
            <td>Ongoing</td>
            <td><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></td>
            <td>{{ contest.start_time }}</td>
            <td>{{ contest.end_time }}</td>
          </tr>
          {% endfor %}
      {% endif %}

      {% if upcoming_contests.exists %}
          {% for contest in upcoming_contests %}
          <tr>
            <td><a href="{% url 'contest' contest.id %}">{{ contest.id }}</a></td>
            <td>Future</td>
            <td><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></td>
            <td>{{ contest.start_time }}</td>
            <td>{{ contest.end_time }}</td>
          </tr>
          {% endfor %}
      {% endif %}

    {% if past_contests.exists %}
        {% for contest in past_contests %}
        <tr>
          <td><a href="{% url 'contest' contest.id %}">{{ contest.id }}</a></td>
          <td>Completed</td>
          <td><a href="{% url 'contest' contest.id %}">{{ contest.name }}</a></td>
          <td>{{ contest.start_time }}</td>
          <td>{{ contest.end_time }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
  </table>
  </div>

{% endblock %}
