{% extends "base.html" %}
{% load bootstrap3 %}
{%block title %}Contests{% endblock %}
{% block contestactive %}class="active"{% endblock %}
{% block content %}
<h1>Here's a list of all our contests :D </h1>
  {% if past_contests.exists %}
  <h1>PAST CONTESTS</h1>
  <ul>
    {% for contest in past_contests %}
      <li><a href="{% url 'contest' contest.id %}">{{ contest.id }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if current_contests.exists %}
  <h1>CURRENT CONTESTS</h1>
  <ul>
    {% for contest in current_contests %}
      <li><a href="{% url 'contest' contest.id %}">{{ contest.id }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if upcoming_contests.exists %}
  <h1>UPCOMING CONTESTS</h1>
  <ul>
    {% for contest in upcoming_contests %}
      <li><a href="{% url 'contest' contest.id %}">{{ contest.id }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
