{% extends "base.html" %}
{% load bootstrap4 %}
{%block title %}Contest #{{ contest.id }}{% endblock %}
{% block title_color %}#7d1dd6{% endblock %}
{% block title_caption %}{{contest.name}}{% endblock %}

{% block contestactive %}class="active"{% endblock %}
{% block content %}
<h1 style="text-align:center">{{ contest.id }} {{contest.name}}</h1>
<button class="btn btn-info center-block"><a style="color:black;text-decoration:none" href="{% url 'contest_ranks' contest.id %}">Go To Contest Ranks</a></button></td></tr>
{% if registered %}
  Great so you have registered for contest awesome!! Hurry it's running XD
  <h1>We wish you best of luck ^,,^ </h1>
  {% for problem in problems %}
    <li>
      <a href="/problems/{{ problem.problem_ID }}">
        Problem {{ problem.name }}
      </a>
    </li>
  {% endfor %}
{% else %}
  You're late registration period is over!!!!!!!
  Well it's you fault, be punctual -_-
  Confused whether to show you problems or not :/
{% endif %}
{% endblock %}
