{% extends "base.html" %}
{% load bootstrap4 %}
{%block title %}Contest #{{ contest.id }}{% endblock %}
{% block title_color %}#7d1dd6{% endblock %}
{% block title_caption %}{{contest.name}}{% endblock %}

{% block contestactive %}class="active"{% endblock %}
{% block rightcontent%}
<div class="box">
<h2>About</h2>
<p class="lead">Contest Status: Completed</p>
<p class="lead">Registration Status: {% if registered %}Registered{% else %}Not Registered{% endif %}</p>
</div>
{% endblock%}
{% block content %}
<button class="btn btn-info center-block"><a style="color:black;text-decoration:none" href="{% url 'registered' contest.id %}">Registered Users</a></button></td></tr>
<div class="box">
  <h4 class="text-center" style="padding-bottom: 0.7em;">This Contest Begins on {{contest.start_time}}</h4>
  {% if user.is_authenticated %}
    {% if registered %}
      <p>You are registered for this contest</p>
    {% else %}
      <form action="{% url 'contest' contest.id %}" method="post">
        {% csrf_token %}
      <button class="btn btn-info center-block" name="register" type="submit">Register For This Contest</button>
      </form>
    {% endif %}
  {% else %}
    <p>
      Dude who have to login/signup first for registering
    </p>
    <div class="alert alert-info">
      <strong><a href="{% url 'login' %}?next={{ request.path }}">Login</a></strong> to register!!
    </div>
  {% endif %}
</div>
{% endblock %}
