{% extends "base.html" %}
{% block title %}Discuss{% endblock %}
{% block title_color %}#428bca{% endblock %}
{% block title_caption %}Ask | Answer | Learn{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row float-right">
	<a href="{% url 'add_post' %}" class="btn btn-success">Add new post</a>
</div>
{% else %}
<div class="alert alert-info">
	<strong><a href="{% url 'login' %}?next={{ request.path }}">Login</a></strong> to add a post.
</div>
{% endif %}
{% for post in all_posts %}
<div class="row box">
	<section>
		<header>
			<h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
			<p class="lead" style="font-size: 0.86em;">Posted by {{ post.author.profile.first_name }} {{ post.author.profile.last_name }} on {{ post.time }}</p>
		</header>
		<p>{{ post.body|truncatechars:250 }}</p>
	</section>
</div>
{% empty %}
<div class="row">
	<h3>No posts at the moment</h3>
</div>
<div class="row">
	<p class="lead">Please check again later.</p>
</div>
{% endfor %}
{% endblock %}
