{% extends "base.html" %}

{%block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger">
  Your username and password didn't match. Please try again.
</div>
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<label for="username">{{ form.username.label_tag }}</label>
{{ form.username }}
<label for="password">{{ form.password.label_tag }}</label>
{{ form.password }}

<button class="btn btn-default" type="submit">Login</button>
<input type="hidden" name="next" value="/" />
</form>

{% endblock %}
