{% extends "base.html" %}

{%block title %}Signup{% endblock %}

{{% block content %}
{% if form.errors %}
<div class="alert alert-danger">
  Your username and password didn't match. Please try again.
</div>
{% endif %}
<table align="center">
  <tr><td align="center"><h2>Sign Up</h2></td></tr>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {% for field in form %}
      <tr><th><p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p></th></tr>
    {% endfor %}
    <tr><td align="center"><button type="button" class="btn btn-success">Sign Up</button></td></tr>
  </form>
</table>
{% endblock %}
