{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Profile{% endblock %}
{% block title_color %}#0e2f44{% endblock %}
{% block title_caption %}Friends | Coders | Learners{% endblock %}
{% block content %}
<div class="row box">
	<div class="col-sm-9 mx-auto">
		<h4 class="text-center" style="padding-bottom: 0.7em;">Change Password</h4>
		<form action="{% url 'change_password' %}" method="post" role="form">
			{% csrf_token %}
			{% bootstrap_form form error_types='none' %}
			<div class="text-center">
				<button type="submit" class="btn btn-success center-block">Change Password</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
