{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Update Profile{% endblock %}
{% block profileactive %}class="active"{% endblock %}
{% block content %}
<h2 align="center">Update Profile</h2>
  <div class="col-md-offset-4 col-md-4">
  <form method="post" action="{% url 'profiles_update' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" css="btn btn-success center-block">Update</button></td></tr>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
