{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Leaderboard{% endblock %}
{% block title_color %}#eea236{% endblock %}
{% block title_caption %}Get | Set | Go{% endblock %}
{% block content %}
<div class="box">
  <form class="form" action="{% url 'leaderboard_index' %}" method="post">
    {% csrf_token %}
    <div class="form-row">
    {% bootstrap_form form layout='horizontal' %}
      <div class="float-right my-auto">
  {% buttons %}
    <button type="submit" class="btn btn-success">Search</button></td></tr>
  {% endbuttons %}
</div>
</div>
</form>
</form>
</div>
<div class="box">
<div class="col-lg-8 mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th>USER</th>
        <th>RATING</th>
      </tr>
    </thead>
    <tbody>
    {% for user in all_users %}
      <tr><td><a href="{% url 'other_profile'  user.user.username %}">{{user.user.username}}</a></td>
      <td>{{user.rating}}</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
