{% extends "base.html" %}
{% load bootstrap4 %}

{%block title %}Submissions{% endblock %}
{% block title_color %}#31b0d5{% endblock %}
{% block title_caption %}Code | Submit | Repeat{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row box">
<table class="table">
  <thead>
    <th>#</th>
    <th>Submission Time</th>
    <th>User</th>
    <th>Problem</th>
    <th>Language</th>
    <th>Verdict</th>
    <th>Time</th>
    <th>Memory</th>
  </thead>
  {% for submission in submission_list %}
    {% if submission.user == request.user %}
    {% if submission.verdict == "AC" %}
      <tr class="success">
    {% elif submission.verdict == "WA" %}
      <tr class="danger">
    {% elif submission.verdict == "CE" or submission.verdict == "RE" %}
      <tr class="warning">
    {% endif %}
        <td>{{ submission.id }}</td>
        <td>{{ submission.submission_time }}</td>
        <td>{{ submission.user.username }}</td>
        <td>{{ submission.problem }}</td>
        <td>{{ submission.get_verdict_display }}</td>
      </tr>
    {% else %}
    <tr>
      <td>{{ submission.id }}</td>
      <td>{{ submission.submission_time }}</td>
      <td>{{ submission.user.username }}</td>
      <td>{{ submission.problem }}</td>
      <td>{{ submission.verdict }}</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
</div>
</div>
{% endblock %}
